body {
	padding-top: 3.8rem;
	background-color: #E5E5E5;
	color: #000;
}

main {
  height: 96.2vh;
  height: -webkit-fill-available;
  max-height: 96.2vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.custom-link:focus,
.custom-link:hover {
	color: #20469d;
	text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link,
.custom-link {
	color: #fff;
	text-decoration: none;
}

.btn-custom:hover {
	color: #20469d;
}

.list-group li {
	margin-bottom: 12px;
}

.list li {
	list-style: none;
	padding: 10px;
	border: 1px solid #fff;
	margin-top: 12px;
	border-radius: 5px;
	background: #fff;
}

.link-custom {
	color: #000;
	text-decoration: none;
}

.link-custom:focus,
.link-custom:hover {
	color: #20469d;
	text-decoration: none;
}

.page-item.active .page-link {
	background-color: #212529;
	border-color: #212529;
}

.page-item .page-link {
	color: #212529;
}

.bg-custom {
	background-color: #20469d;
}

:root {
    --tbw-cell-vertical-padding: 4px;
    --tbw-cell-horizontal-padding: 8px;
    --tbw-cell-line-height: 1.5em;
}

table {
    margin-bottom: var(--tbw-cell-line-height);
}

th,
td {
    height: calc(var(--tbw-cell-vertical-padding) * 2 + var(--tbw-cell-line-height));
    min-width: calc(var(--tbw-cell-horizontal-padding) * 2);
    padding: var(--tbw-cell-vertical-padding) var(--tbw-cell-horizontal-padding);
    border: 1px solid #e7eaec;
}